body.dark {
  background: #191a1b;
  color: #f4f4f4;
  &.fade {
    transition: background-color 0.3s;
  }
  .logo {
    color: #fff !important;
  }
  svg {
    color: #cdcdcd !important;
  }
  .breathing-exercises-container {
    background: #222222 !important;
    h3 {
      color: #fff !important;
    }
    .breathing-exercise-item {
      background: #2a2b2c !important;
    }
  }
  .breathing-topbar h2 {
    color: #fff;
  }
  .breathing-details {
    .action-buttons {
      button {
        background: #222 !important;
        color: #fdfdfd;
      }
    }
  }
  .return-button {
    background: #222 !important;
    color: #fdfdfd;
  }
  .outside {
    border-color: #222 !important;
  }
  .streak-overview {
    background: #222222 !important;
    .separator {
      border-color: #f4f4f4 !important;
    }
    small {
      color: #ececec !important;
    }
  }
  button,
  .button-like {
    transition: filter 0.3s !important;
    cursor: pointer;
    &:hover {
      filter: contrast(0.8) !important;
    }
  }
  .sign-in-with-google {
    color: #f4f4f4;
    border-color: #ededed;
  }
  .input-container {
    input,
    select {
      background: transparent;
      color: #fff;
    }
  }
}
