APP_NAME="MyApp"
APP_URL="http://localhost:3000"

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb"
JWT_SECRET="<your_jwt_secret>"

MAIL_HOST="smtp.gmail.com"
MAIL_PORT="587"
MAIL_USERNAME="<your_email>@gmail.com"
MAIL_PASSWORD="<your_google_app_password>"
